body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background:
      radial-gradient(at 100% 50%, #ee0c, #ee00),
      radial-gradient(at 0 0, #9f98, #9f90),
      linear-gradient(#09fc, #f09c)
      ;
      
  }
  
  .badge {
    display: flex;
    height: 4rem;
    width: 15rem;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    filter: drop-shadow(0 0 0.5rem #0003)
  }
  
  .badge:focus {
    outline: 0.125rem dashed #000a;
    outline-offset: 0.25rem;
  }
  
  .badge img {
    clip-path: polygon(0 50%, 14% 0, 86% 0, 100% 50%, 86% 100%, 14% 100%);
  }
  
  .badge > div {
    background: linear-gradient(#fff, #e8e8e8);
    flex: 1;
    padding: 0.75rem 0.75rem 0 1.25rem;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
  }
  
  .badge .name {
    color: #222;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .badge .title {
    font-size: 0.9rem;
    color: #666;
  }
  